 @using Microsoft.AspNetCore.Identity;


  @if (TempData["mensaje"] != null) {
    <div class="alert alert-success py-3">
        @TempData["mensaje"]
    </div>
}


 <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <div class="row" >
                <h1>Crear roles<hr></h1>

                <form method="post" asp-controller="cuenta" asp-action="crearrol">

                    <div class="form-group">
                        <label>Nombre del rol</label>
                        <input type="text" name="nombre" class="form-control">
                    </div>
                    
                    <div class="py-3"><button class="btn btn-primary">Crear rol</button></div>
                    
                </form>
            </div>
        </div>
        <div class="col-md-6" >
            <div class="row" >
                <h1>Asociar Rol<hr></h1>

                <form method="post" asp-controller="cuenta" asp-action="asociarrol">

                    <div class="form-group">
                        <label>Usuario</label>        
                        <select class="form-control" name="usuario">
                             @foreach (var item in (List<IdentityUser>)ViewBag.Usuarios)
                                {
                                    <option value="@item.Id">@item.UserName</option>
                                }              
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Rol</label>        
                        <select class="form-control" name="rol">
                             @foreach (var item in (List<IdentityRole>)ViewBag.Roles)
                                {
                                    <option value="@item.Name">@item.Name</option>
                                }
                        </select>
                    </div>
                    <div class="py-3">
                        <button class="btn btn-primary">Asociar</button>
                    </div>
                    
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>