@model Listas  
@foreach (var item in Model.ListPlantas)
{
    <div class="py-5" style="background-image: url(https://images.pexels.com/photos/3146135/pexels-photo-3146135.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940); background-size: cover; background-position: left top; background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-9" style="">
          <h1 class="display-4" style="">@item.Nombre</h1>
          <h2 class="">Pensamiento que inspira</h2>
          <span>"La tierra provee lo suficiente para saciar las necesidades de cada hombre, pero no la avaricia de cada hombre"</span>
          <br><p>Mahatma Gandhi</p>
          <div class="row">
            <div class="col-md-12">
              <h1 class="" >Caracteristicas</h1>
              <div class="row">
                <div class="col-md-12">
                  <p class="">@item.Caracteristicas</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h1 class="">Usos</h1>
              <div class="row">
                <div class="col-md-12">
                  <p class="">@item.Usos</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h1 class="">Ubicación</h1>
              <div class="row">
                <div class="col-md-12">
                  <p class="">@item.Ubicacion</p>
                </div>
              </div>
            </div>
          </div>
          @if(@item.CategoriaAsig!=null){
            <div class="row">
            <div class="col-md-12">
              <h1 class="">Ubicación</h1>
              <div class="row">
                <div class="col-md-12">
                  <p class="">@item.CategoriaAsig</p>
                </div>
              </div>
            </div>
            </div>
          }
          
          
          
        </div>
        <div class="col-md-3">
          <div class="card"> <img class="card-img-top" src="@item.Foto" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Imagen referencial de la planta</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="p-3 col-md-8">
          <div class="blockquote mb-0">
            <p>"I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks."</p>
            <div class="blockquote-footer">
              <b>J. W. Goethe</b>, CEO at Werther Inc.</div>
          </div>
        </div>
        <div class="col-md-2 mx-auto p-3"> <img class="img-fluid d-block rounded-circle" src="https://static.pingendo.com/img-placeholder-2.svg"> </div>
      </div>
    </div>
  </div>
}
  