@model Ongs;
@if (TempData["mensaje"] != null) {
    <div class="alert alert-success py-3">
        @TempData["mensaje"]
    </div>
}

@{
    var cate= (List<Ongs>)ViewBag.Ongs;
}
 

<div class="container">
 <div class="col-md-12 py-5 ">
            <div class="row" >
                    <div class="col-md-12"><h1 class="text-center">Registrar ONG<hr></h1></div>
                
                    <form name="axtu" method="post" asp-controller="administrador" asp-action="registrarong2" class="col-md-8" >
                         <div asp-validation-summary="All"></div>
                        <div class="form-group py-1"> 
                                <label for="form16" asp-for="Nombre"></label> 
                                <input type="text" class="form-control" id="form16" placeholder="Nombre" asp-for="Nombre" required>
                        </div>

                        <div class="form-group py-1"> 
                                <label for="form16" asp-for="Correo"></label> 
                                <input type="email" class="form-control" id="form16" placeholder="Correo" asp-for="Correo" required>
                        </div>

                        <div class="form-group py-1"> 
                                <label for="form16" asp-for="Direccion"></label> 
                                <input type="text" class="form-control" id="form16" placeholder="Dirección" asp-for="Direccion" required>
                        </div>

                        <div class="form-group py-1"> 
                                <label for="form16" asp-for="Telefono"></label> 
                                <input type="tel" class="form-control" id="form16" placeholder="Telefono" asp-for="Telefono" required>
                        </div>

                        <div class="form-group py-1"> 
                                <label for="form16" asp-for="CuentaB"></label> 
                                <input type="tel" class="form-control" id="form16" placeholder="N° Cuenta" asp-for="CuentaB" required>
                        </div>
                    
                    <div class="py-3">
                        <button class="btn btn-primary ">Registrar Ong</button>
                    </div>
                        
                    </form>
                
           
                 </div>

                 <div class="row">
                        <h1 class="block">Listado de Ongs<hr></h1><br>
                        <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                        <th scope="col" class="text-light">Id</th>
                        <th scope="col" class="text-light">Nombre Categoria</th>
                        <th scope="col" class="text-light">Correo</th>
                        <th scope="col" class="text-light">Dirección</th>
                        <th scope="col" class="text-light">Telefono</th>
                        <th scope="col" class="text-light">Cuenta Bancaria</th>
                        <th scope="col"  class="text-light">Opción 1</th>
                        <th scope="col" class="text-light">Opción 2</th>
                        
                        </tr>
                        </thead>

                        <tbody>
                        @foreach (var item in cate)
                        {
                        
                        <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Nombre</td>
                        <td>@item.Correo</td>
                        <td>@item.Direccion</td>
                        <td>@item.Telefono</td>
                        <td>@item.CuentaB</td>
                        <td><a asp-controller="administrador" asp-action="eliminarong" asp-route-codigo="@item.Id">Eliminar</a></td>
                        <td><a  asp-controller="administrador" asp-action="vistaongact"  asp-route-codigo="@item.Id">Modificar</a></td>
                        </tr>

                        }
                
                        </tbody>
                        </table>
        </div>
                

        
        </div>
</div>