 @model Ongs;
@{
    var cate= (List<Ongs>)ViewBag.Ongs;
}
 

<br>
<br>
<br>
            <h3>Ong's registradas <br>
            
            </h3>
            <a class="btn btn-primary" asp-controller="administrador" asp-action="RegistrarOng2">Registrar nueva Ong</a>
            <table class="table">
                <tr>
                    <th>Nombre de Ong</th>
                    <th>Correo</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Numero de cuenta</th>
                    <th>Ociones</th>
                </tr>
                 
                 @foreach (var item in cate)
                 {
                    <tr>
                        <th>@item.Nombre</th>
                        <th>@item.Correo</th>
                        <th>@item.Direccion</th>
                        <th>@item.Telefono</th>
                        <th>@item.CuentaB</th>
                        <th> 
                            <a asp-controller="administrador" asp-action="eliminaron" asp-route-codigo="@item.Id">Eliminar</a>
                            <a href="#ventana" data-toggle="modal">Modificar</a>
                            <div class="modal fade" id="ventana">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h2 class="modal-title">Ingrese nuevo nombre de categotia</h2>
                                        </div>
                                        <div class="modal-body">
                                            <form  method="post" asp-controller="administrador" asp-action="RegistrarOng" class="col-md-8">
                                                <div class="form-group"> 
                                                    <label for="form16" asp-for="@item.Nombre"></label> 
                                                    <input type="text" class="form-control" id="form16" value="@item.Nombre" asp-for="@item.Nombre" required>
                                                </div>
                                                <div class="form-group"> 
                                                    <label for="form16" asp-for="@item.Correo"></label> 
                                                    <input type="text" class="form-control" id="form16" value="@item.Correo" asp-for="@item.Correo" required>
                                                </div>
                                                <div class="form-group"> 
                                                    <label for="form16" asp-for="@item.Direccion"></label> 
                                                    <input type="text" class="form-control" id="form16" value="@item.Direccion" asp-for="@item.Direccion" required>
                                                </div>
                                                <div class="form-group"> 
                                                    <label for="form16" asp-for="@item.Telefono"></label> 
                                                    <input type="text" class="form-control" id="form16" value="@item.Telefono" asp-for="@item.Telefono" required>
                                                </div>
                                                <div class="form-group"> 
                                                    <label for="form16" asp-for="@item.CuentaB"></label> 
                                                    <input type="text" class="form-control" id="form16" value="@item.CuentaB" asp-for="@item.CuentaB" required>
                                                </div>
                                                <div class="py-3"><button class="btn btn-primary py-3" asp-route-codigo="@item.Id">Comfirmar</button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr> 
                   
                 }
             
            
            </table>
            
